@charset "utf-8";

/**** fonts ****/
/* 'Pretendard Variable */
@import url(./pretendardvariable.css);


h2 {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 3rem;
    font-optical-sizing: auto;
    /* font-weight: 850; */
    /* font-variation-settings: 'wght' 120; */
    animation: txt 2s infinite alternate;
}
@keyframes txt {
    0%{
        font-weight: 100;
    }
    100% {
        font-weight: 900;
    }
}