@charset "utf-8";

body {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

header, main {
    height: 100vh;
    background-color: #A6AEBF;
    font-size: 3rem;
    padding-top: 100px;
}
main {
    background-color:  #C5D3E8;
}


/* 대메뉴 */

nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 60px;
    background-color: #D0E8C5;
}
nav a {
    display: block;
}
nav .global-menu {
    display: flex;
    /* min-width: 800px;
    max-width: 1200px;
    justify-content: space-evenly; */
    justify-content: center;
    margin: 0 auto;
}
nav .global-menu li {
    min-width: 200px;
    max-width: 350px;
}
nav .global-menu li .menu-title {
    height: 60px;
    line-height: 60px;
}

nav .global-menu li .menu-title:hover {
    background-color: #ABBA7C;
}

/* 소메뉴 */

nav .global-menu li .sub-menu {
    display: none;
    background-color: #FFF8DE;
    height: 250px;
}

nav .global-menu li .sub-menu a {
    line-height: 50px;
}


nav .global-menu li .sub-menu a:hover {
    background-color: #D0E8C5;
}