@charset "utf-8";

body {
    font-size: 1rem;
    text-transform: capitalize;
}
.side-menu {
    min-width: 250px;
    max-width: 300px;
    letter-spacing: 1px;;
}
.side-menu li h3{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #A5B68D;
    color: #fff;
    height: 50px;
    padding: 6px 10px;
    line-height: 1.5;
    border-bottom: 1px solid #fff;
}
.side-menu li p {
    background-color: #E9EED9;
    padding: 10px 10px 30px;
    display: none;
}
.side-menu li h3:hover {
    background-color: #48523b;
}